@import './base.css';
@import './embla.css';
@import "tailwindcss";

body {
  background-color: rgb(246, 243, 244);
}

#app {
  font-weight: normal;
  background-color: rgb(246, 243, 244);
}

.page-wrapper {
  max-width: 1280px;
  padding: 1rem;
  margin: 0 auto;
}